.note {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: cornflowerblue 6px 6px 10px;
}

.task-text {
    height: 80%;
    margin: 20px;
}

.note-name {
    height: 100%;
    width: 80%;
    border-right: black 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-footer {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: black 1px solid;
}

