.note {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    margin: 20px;
}

.task-text {
    height: 80%;

}

.note-footer {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

