* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fffbfa;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}